<div *ngIf="ricetta; else noData">
      <div class="recipe-image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>

    <div class="container-detail" >
      <h5>{{ricetta.title}}</h5>
      <p [innerHTML]="getSanitizeHTML(ricetta.description)"></p>
      <h6>Difficoltà:</h6>
      <p>
        <img [src]="percorsoStelline + ricetta.difficulty + '.png'"
          class="difficolta"
          alt="difficoltà ricetta {{ricetta.difficulty}}" >
      </p>
      <p class="recipe-date">Ricetta pubblicata il {{ricetta.date}}</p>
    </div>
</div>

<ng-template #noData>
  <div>
      Spiacenti ricetta non trovata
  </div>
</ng-template>
