
#container-login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  margin: auto;
  height: 50vh;
  justify-content: center;

  .container-row {
    margin-bottom: 15px;
    height: 40px;
  }
}

:host ::ng-deep .p-inputtext {
  border: 1px solid #dfdfdf !important;
  width: 100% !important;
  padding-top: 30px;
}

:host ::ng-deep eyeicon.p-element.p-icon-wrapper {
  position: relative;
  right: 31px;
  top: 21px;
}

div#error-message {
  font-size: 13px;
  color: #bd1313;
  text-align: center;
}

div#container-btn {
  /* width: 113px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 30px;
}

:host ::ng-deep button.p-ripple.p-element.p-button.p-component {
  border-radius: 5px;
  padding: 18px;
  background: #8e210a;
  border: none;
}

#registrati {
  margin-top: 20px;
}
